h1{
    Font-weight: 700 (bold);
    Font-size: 26px;
    Font-family: Nunito Sans;
    color: rgba(rgb(0, 255, 255), green, blue, alpha)
    border:solid #2d5dcc;
    text-align:center;

}

h2{
    Font-weight: 500;
    Font-size: 18px;    
    Font-family: Merriweather,Poppins;
    background-color: rosybrown;


}

p{
    Font-weight: 400 ;(regular)
    Font-size: 14px;
    Font-family: Poppins;  
    color:rgb id="#2d5dcc"           
}